<header>
<div class="container">
<div class="padding">
<div class="logout">
<a class="prev" href="%%DOMAIN%%/" title="<lang:generic->preview_website>" target="_blank"><i class="fas fa-eye"></i> <lang:generic->preview></a>
<a class="log" href="%%DOMAIN%%/logout" title="<lang:generic->logout_title>"><i class="fas fa-power-off"></i> <lang:generic->logout></a>
</div>
<div class="logo_section">
<div class="board_logo"><img src="%%ASSET_DOMAIN%%/admin/theme/%%THEME%%/logo.png"></div>
<div class="board_title">WMS</div>
</div>
<div class="clear"></div>
</div>
</div>
</header>