<!doctype html>
<html lang="%%LANG_HTML%%">
<head>
<meta charset="%%LANG_CHARSET%%">
<title>%%SITE_TITLE%% &mdash; %%VAR1%%</title>
<meta name="description" content="%%VAR2%%">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#fafafa">
<link rel="canonical" href="%%CANONICAL%%">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://use.fontawesome.com" crossorigin>
<link rel="shortcut icon" type="image/x-icon" href="%%DOMAIN%%/favicon.ico" sizes="any">
<link rel="apple-touch-icon" sizes="180x180" href="%%DOMAIN%%/apple-touch-icon.png">
<link rel="icon" type="image/png" href="%%DOMAIN%%/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="%%DOMAIN%%/favicon-16x16.png" sizes="16x16">
<!-- Stylesheets -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&amp;display=swap" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" crossorigin="anonymous">
<link href="%%ASSET_DOMAIN%%/stylesheets/normalize.css" rel="stylesheet">
<link href="%%ASSET_DOMAIN%%/admin/theme/%%THEME%%/panel.css?%%VERSIONCODE%%" rel="stylesheet">
<!-- Javascript Overide Function -->
<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
<!-- Preloaded Content For Page -->
%%VAR3%%<!-- End of Preloaded Content -->
</head>
<body>